// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#top{height:100%;background-color:rgba(83, 153, 175, 0.4);
margin-left: 387px;}
body {height:100%;}
html{height: 100%;}