// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-unit{padding:0px;
background-color: white;}
.container{
	background-color: rgb(214, 229, 243);
padding-bottom: 20px;
margin-bottom: 20px;
padding-left: 10px}
.page-header{color: rgb(22, 137, 243);}
#delete{float :left;padding: 8px 20px;

font-size: 14px;
font-weight: 700;
}


#edit{float :left;padding: 8px 20px;
line-height: 20px;

font-size: 14px;
text-shadow: none;
border: medium none;
font-weight: 700;
}
#comment{float:right;}
#commentemail{float:right;}
#h1{text-align: center;}
#review_description{width:50%;}
.well{background-color: #E4EEF0;}
.outercontainer{padding-top: 40px;}
.innercontainer{padding:40px;}
body{background-image: url(http://www.psdgraphics.com/file/light-blue-background.jpg);}
.navbar{margin-bottom: 0px;}